<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="/css/common.css"/>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

  <title>Familias</title>
</head>

<body>
<header th:insert="~{common/header :: header}"></header>
<div class="container-fluid">
  <div class="row bodySize" style="min-height: calc(100vh - 80px);">
    <div class="col-sm-2 borderImage" style="background-image: url(/images/border1.jpg)"></div>
    <div class="col-sm-8" style="background-color:#D5E4D9;">

      <!--Seuls un personnage dieu peut créer une familia-->
      <div class="d-flex justify-content-end" th:if="${canCreate}">
        <a class="btn btn-success mt-3 mr-3" href="/familia/new">Créer une familia</a>
      </div>

      <div class="container my-5 px-3 py-3">
      <h1 class="display-5">Liste des familias</h1>
        <table id="familia-table" class="table table-bordered table-striped" style="width:100%">
          <thead class="thead-dark">
          <tr>
            <th>Embleme</th>
            <th>Leader</th>

          </tr>
          </thead>
          <tbody>
          <tr th:each="f : ${familiasWithLeaders}">
            <td class="align-middle text-center">
              <a th:href="@{'/familia/' + ${f.key.id}}">
                <img th:src="'data:image/png;base64,' + ${f.key.embleme_image}" alt="Embleme" style="max-height: 50px;"/>
              </a>
            </td>
            <td class="align-middle">
              <div class="d-flex align-items-center">
                <span th:text="${f.value.firstName()} + '&nbsp;' + ${f.value.lastName}"></span>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
        </div>


    </div>
    <div class="col-sm-2 borderImage" style="background-image: url(/images/border2.jpg)"></div>
  </div>
</div>
<footer th:insert="~{common/footer :: footer}"></footer>

<script src="/js/familiaList.js"></script>
</body>