<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <title th:text="'Familia de ' + ${leader.getFirstName()} + ' ' + ${leader.getLastName()}"></title>
</head>
<body>
<header th:insert="~{common/header :: header}"></header>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-2 borderImage" style="background-image: url(/images/border1.jpg)"></div>
        <div class="col-sm-8" style="background-color:#D5E4D9;">

            <div class="masthead" style="background-image: url(/images/familia/parchemin.png)">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 text-center">
                            <h1 class="display-4 fw-light text-black-50">Familia de:</h1>
                            <h1 class="display-4 fw-light text-black-50" th:text="${leader.getFirstName()} + ' ' +  ${leader.getLastName()}"></h1>
                        </div>
                    </div>
                </div>
            </div>

            <!--Seul le leader peut supprimer la familia-->
            <div th:classappend="${isLeader} ? 'd-flex justify-content-between' : 'd-flex justify-content-end'">
                <form method="post" th:action="@{'/familia/delete/' + ${familiaId}}" th:if="${isLeader}">
                    <button type="submit" class="btn btn-outline-danger ml-4 mt-1">Supprimer la familia</button>
                </form>
                <a href="/familia/list" class="btn btn-outline-success mr-4 mt-1">Voir la liste des familias</a>
            </div>


            <!--Bouton rejoindre pour les personnages sans familia-->
            <div class="d-flex justify-content-center mt-4" th:if="${canJoin}">
                <form method="post" th:action="@{'/familia/request/' + ${familiaId}}">
                    <button type="submit" class="btn btn-outline-success">Rejoindre</button>
                </form>
            </div>
            <div class="d-flex justify-content-center mt-4" th:if="${hasPendingRequest}">
                <button class="btn btn-warning" disabled>Demande en attente</button>
            </div>

            <h1>Description:</h1>
            <p class="text-justify" th:text="${familia.description}"></p>

            <h1>Emblème:</h1>
            <div class="text-center">
                <img th:src="'data:image/png;base64,' + ${familia.embleme_image}" style="width: 250px;" alt="Embleme de la familia">
            </div>

            <!--Liste des membres de la familia-->
            <div class="container my-5 px-3 py-3">
                <h1>Membres:</h1> <!--Ajouter liens vers leurs pages-->
                <select id="race-filter" class="form-control my-2">
                    <option value="">Toutes races</option>
                    <th:block th:each="race : ${distinctRaces}">
                        <option th:text="${race}"></option>
                    </th:block>
                </select>
                <table id="personnages-table" class="table table-bordered table-striped text-center" style="width:100%">
                    <thead class="thead-dark">
                    <tr>
                        <th>Image</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Race</th>
                        <th>Niveau</th>
                        <th th:if="${isLeader}">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="font-weight-bold">
                        <td>
                            <img th:src="'data:image/png;base64,' + ${leader.getImage()}" alt="Profil picture" style="max-height: 50px;"/>
                        </td>
                        <td th:text="${leader.getFirstName()} + ' (leader)' " ></td>
                        <td th:text="${leader.getLastName()}"></td>
                        <td th:text="${leader.getRace().getDisplayName()}"></td>
                        <td th:text="${leader.getLevel()}"></td>
                    </tr>
                    <tr th:each="member, stat : ${members}">
                        <td>
                            <img th:src="'data:image/png;base64,' + ${member.getImage()}" alt="Profil picture" style="max-height: 50px;"/>
                        </td>
                        <td th:text="${member.firstName}" ></td>
                        <td th:text="${member.lastName}"></td>
                        <td th:text="${member.race.getDisplayName()}"></td>
                        <td th:text="${member.level}"></td>
                        <td th:if="${isLeader}">
                            <form method="post" th:action="@{'/familia/removeMember/' + ${familiaId} + '/' + ${member.id}}">
                                <button type="submit" class="btn btn-outline-danger">Exclure</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!--Liste des demandes en attente, visibles par le leader seulement-->
            <div class="container my-5 px-3 py-3" th:if="${isLeader}">
                <h1>Demandes en attente:</h1>
                <table id="pending-requests-table" class="table table-bordered table-striped text-center" style="width:100%">
                    <thead class="thead-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Race</th>
                        <th>Niveau</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="request : ${pendingRequests}">
                        <td th:text="${request.personnage.firstName}"></td>
                        <td th:text="${request.personnage.lastName}"></td>
                        <td th:text="${request.personnage.race.getDisplayName()}"></td>
                        <td th:text="${request.personnage.level}"></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Accepter ou refuser">
                                <form method="post" th:action="@{'/familia/requests/accept/' + ${request.id}}">
                                    <button type="submit" class="btn btn-outline-success mr-3">Accepter</button>
                                </form>
                                <form method="post" th:action="@{'/familia/requests/reject/' + ${request.id}}">
                                    <button type="submit" class="btn btn-outline-danger">Refuser</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <a th:href="'/chatPage/' + ${familiaDiscussionId}" class="btn btn-outline-success"></i>Familia Chat</a>
            </div>

        </div>
        <div class="col-sm-2 borderImage" style="background-image: url(/images/border2.jpg)"></div>
    </div>
</div>
<footer th:insert="~{common/footer :: footer}"></footer>
<script src="/js/listMembers.js"></script>
</body>
</html>

